SERVER_IP=192.168.0.10
POSTGRES_DB=synapse
POSTGRES_USER=synapse
POSTGRES_PASSWORD=changeme123
SSH_PASSWORD=changeme123

# Images Versions
POSTGRES_VERSION=16
SYNAPSE_VERSION=v1.149.0
ELEMENT_VERSION=latest
SYNAPSE_ADMIN_VERSION=latest
NGINX_VERSION=alpine